<form [formGroup]="form" class="w-full">
  <div class="mb-2 mx-auto rounded-lg bg-gray-50 dark:bg-gray-600 dark:border-gray-600">
    <div class="p-1 bg-white rounded-md dark:bg-gray-700">
      <label for="comment" class="sr-only">TextBox</label>

      <div class="relative">
        <div class="flex overflow-x-auto space-x-4 p-2">
          @for (file of selectedFiles; track $index) {
            <div class="flex items-center min-w-[300px] h-15 border-2 border-gray-500 rounded-lg">
              <div class="bg-cyan-900 h-full w-10 flex items-center justify-center rounded-l-lg">
                <i class="fa-solid fa-file-lines text-white text-2xl"></i>
              </div>
              <div class="pl-2 pr-2 flex flex-col justify-center">
                <span class="text-sm font-medium">{{ file.name }}</span>
                <small class="text-xs text-gray-400">{{ file.type }}</small>
              </div>
            </div>
          }
        </div>

        <!-- Archivos -->

        <!-- Textarea -->
        <textarea
          #promptTextarea
          formControlName="prompt"
          autofocus
          id="comment"
          rows="2"
          class="w-full max-h-56 pt-2 p-1 text-sm outline-0 text-gray-900 focus:ring-0 dark:text-white dark:placeholder-gray-400 resize-none"
          [placeholder]="placeholder"
          [autocomplete]="disabledCorrections ? 'off' : 'on'"
          [spellcheck]="disabledCorrections ? 'off' : 'on'"
          (input)="autoResize()"
          (keydown.enter)="handleSubmit()"
        ></textarea>

        <!-- Botón enviar -->
        <button
          class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:opacity-50"
          [disabled]="form.invalid || isLoading"
          (click)="handleSubmit()"
        >
          <i class="fa-solid fa-paper-plane"></i>
        </button>

        <!-- Adjuntar archivo -->
        <div class="mt-2">
          <button
            (click)="fileInput.click()"
            type="button"
            class="inline-flex justify-center items-center p-2 text-gray-500 rounded-sm cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600"
          >
            <i class="fa-solid fa-paperclip w-4 h-4"></i>
            <span class="sr-only">Attach file</span>
          </button>
          <input
            #fileInput
            type="file"
            class="hidden"
            multiple
            (change)="handleSelectedFile($event)"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Mensaje de advertencia fuera del contenedor relativo -->
  <small class="block text-center pb-1 text-gray-500 dark:text-gray-300">
    Plexity puede cometer errores. Comprueba la información importante.
  </small>
</form>
