@import "tailwindcss";
/* You can add global styles to this file, and also import other style files */

@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@import 'prismjs/plugins/line-highlight/prism-line-highlight.css';


@font-face {
  font-family: 'Poppins';
  src: url('assets/font/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  @apply bg-gray-900;
  color: white;
  font-family: 'Poppins', sans-serif !important;
}


h1 {
  @apply text-3xl font-bold mb-4;
}

p {
  @apply mb-4;
}

ul {
  @apply list-disc list-inside;
}

strong {
  @apply font-bold text-indigo-400 text-xl;
}

em {
  @apply italic text-pink-500;
}


.btn-primary {
  @apply bg-indigo-500 text-white font-bold py-2 px-4 rounded-xl hover:bg-indigo-700 transition-all duration-200 ease-in-out;
}

.btn-primary:disabled {
  @apply bg-indigo-500 text-white font-bold py-2 px-4 rounded-xl opacity-50 cursor-not-allowed;
}

.chat-container {
  @apply flex flex-col h-screen max-h-screen w-full;
}

.chat-messages {
  @apply flex flex-col h-3/4 overflow-x-auto overflow-auto;
}

/* Scroll personalizado estilo ChatGPT */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-600 rounded-lg;
  transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}


/* Animations */

.fade-in {
  animation: fadeIn .3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.markdown-message {
  /* quitar padding y fondo general */
  @apply px-0 py-0 bg-transparent;

  p {
    @apply mb-2 text-white;
    /* texto plano */
  }

  pre {
    @apply bg-gray-900 rounded-2xl px-4 py-3 text-white mb-4;
  }


  code {
    @apply text-pink-400;
  }

  pre code {
    @apply text-sm;
  }

  blockquote {
    @apply border-l-4 border-blue-400 pl-4 italic text-blue-400;
  }

  .comment {
    @apply text-gray-500 italic;
  }

  .punctuation {
    @apply text-white;
  }

  .property {
    @apply text-blue-400;
  }

  h1 {
    @apply text-2xl font-bold mb-2;
  }

  h2 {
    @apply text-xl font-bold mb-2;
  }

  h3 {
    @apply text-lg font-bold mb-2;
  }

  ul,
  ol {
    @apply mb-2 list-decimal;
  }
  li::marker {
    @apply text-gray-500;
  }
}
